<div class="container-fluid" style="min-height: 82vh;">
    <div class="row py-4">
        <div class="col-md-6 py-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h2>Update Profile</h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content class="pt-2">
                    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Enter Name</mat-label>
                            <input type="text" matInput formControlName="name" required>
                            <mat-icon *ngIf="!name.touched || name.valid" matSuffix>person_outline</mat-icon>
                            <mat-icon *ngIf="name.touched && name.invalid" matSuffix>report_gmailerrorred</mat-icon>
                            <mat-error *ngIf="name.touched && name.hasError('required')">Name is required</mat-error>
                            <mat-error *ngIf="name.touched && name.hasError('minlength')">Name must have 3 chars of more
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Enter Email</mat-label>
                            <input type="email" matInput formControlName="email" required>
                            <mat-icon *ngIf="!email.touched && email.invalid" matSuffix>email</mat-icon>
                            <mat-icon *ngIf="email.valid" matSuffix>mark_email_read</mat-icon>
                            <mat-icon *ngIf="email.touched && email.invalid" matSuffix>report_gmailerrorred</mat-icon>
                            <mat-error *ngIf="email.touched && email.hasError('required')">Email is required</mat-error>
                            <mat-error
                                *ngIf="email.touched && !email.hasError('required') && email.hasError('invalidEmail')">
                                Email is inavlid</mat-error>
                        </mat-form-field>
                        <button mat-raised-button color="accent" class="btn-shadow px-3 w-100 f-lg"
                            [disabled]="updateForm.invalid || updateForm.disabled">Submit</button>
                    </form>
                </mat-card-content>
                <mat-card-actions>
                    <mat-progress-bar mode="indeterminate" color="accent" style="height: 5px;" *ngIf="updating">
                    </mat-progress-bar>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-6 py-2">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h2>Update Password</h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content class="pt-2">
                    <form [formGroup]="updatePassForm" (ngSubmit)="onUpdatePassword()">
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Enter Old Password</mat-label>
                            <input [type]="hideOldPasswordInput? 'password': 'text'" matInput
                                formControlName="oldPassword" required>
                            <mat-icon *ngIf="!oldPassword.touched && oldPassword.hasError('required')" matSuffix>
                                password
                            </mat-icon>
                            <mat-icon *ngIf="oldPassword.touched && oldPassword.hasError('required')" matSuffix>
                                report_gmailerrorred
                            </mat-icon>
                            <mat-icon *ngIf="!oldPassword.hasError('required')" matSuffix
                                (click)="hideOldPasswordInput = !hideOldPasswordInput" style="cursor: pointer;">
                                {{hideOldPasswordInput?
                                'visibility': 'visibility_off'}}
                            </mat-icon>
                            <mat-error *ngIf="oldPassword.touched && oldPassword.hasError('required')">Old Password is
                                required
                            </mat-error>
                            <mat-error *ngIf="oldPassword.touched && oldPassword.hasError('minlength')">Old Password
                                must have 8
                                chars of more
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Enter New Password</mat-label>
                            <input [type]="hideNewPasswordInput? 'password': 'text'" matInput
                                formControlName="newPassword" required>
                            <mat-icon *ngIf="!newPassword.touched && newPassword.hasError('required')" matSuffix>
                                password
                            </mat-icon>
                            <mat-icon *ngIf="newPassword.touched && newPassword.hasError('required')" matSuffix>
                                report_gmailerrorred
                            </mat-icon>
                            <mat-icon *ngIf="!newPassword.hasError('required')" matSuffix
                                (click)="hideNewPasswordInput = !hideNewPasswordInput" style="cursor: pointer;">
                                {{hideNewPasswordInput?
                                'visibility': 'visibility_off'}}
                            </mat-icon>
                            <mat-error *ngIf="newPassword.touched && newPassword.hasError('required')">New Password is
                                required
                            </mat-error>
                            <mat-error *ngIf="newPassword.touched && newPassword.hasError('minlength')">New Password
                                must have 8
                                chars of more
                            </mat-error>
                            <mat-error *ngIf="newPassword.touched && newPassword.hasError('invalidPassword')">Password
                                requires at least 1
                                capital, 1 small, 1 number, and 1 special character</mat-error>
                            <mat-error *ngIf="newPassword.hasError('samePassword')">New & Old password can't be same!
                            </mat-error>
                            <mat-icon matPrefix style="cursor: pointer;" matTooltip="Generate Strong newPassword"
                                matTooltipPosition="above" (click)="generatePassword()">vpn_key</mat-icon>
                            <mat-hint *ngIf="newPassword.touched && !newPassword.hasError('required')"
                                [style.color]="passwordRGB">Password is {{passwordStrength}}
                            </mat-hint>
                        </mat-form-field>
                        <button mat-raised-button color="accent" class="btn-shadow px-3 w-100 f-lg"
                            [disabled]="updatePassForm.invalid || updatePassForm.disabled">Submit</button>
                    </form>
                </mat-card-content>
                <mat-card-actions>
                    <mat-progress-bar mode="indeterminate" color="accent" style="height: 5px;" *ngIf="updatingPass">
                    </mat-progress-bar>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="row px-3">
        <mat-divider class="spceial-divider"></mat-divider>
        <span class="spceial-divider-span">OR</span>
        <mat-divider class="spceial-divider"></mat-divider>
    </div>
    <div class="row py-4">
        <div style="margin: auto;">
            <button mat-raised-button color="warn" style="width: 250px;" (click)="deleteProfile()">Delete
                Profile</button>
        </div>
    </div>
</div>