<div class="row mt-4">
    <mat-toolbar color="primary" style="height: 80px;">
        <div style="margin: auto" class="align-middle">
            <a mat-stroked-button class="mx-2 f-lg" target="_blank"
                href="https://github.com/Kpal22">
                Github <fa-icon [icon]="faGithub" class="ml-2"></fa-icon>
            </a>
            <a mat-stroked-button class="mx-2 f-lg" target="_blank"
                href="https://www.linkedin.com/in/kaustav2pal297862862">
                Linkedin <fa-icon [icon]="faLinkedin" class="ml-2"></fa-icon>
            </a>
            <p class="credit-text">
                Designed an developed by <a href="mailto:kaustavlogan@gmail.com">Kaustav Pal</a>
            </p>
        </div>
    </mat-toolbar>
</div>